<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>秘密空间</title>
	<style>
		table {
			margin: 0 auto;
			border-collapse: collapse;

		}

		tr {
			width: 780px;
		}

		th {
			text-align: left;
		}
	</style>

</head>
<body>
<div>
	<h2>秘密空间</h2>
	<table>
		<tr class="words">
			<td>01-26 22:00:21</td>
			<td>shally</td>
			<td>臭球球,晚上我们看电影去吧,怎么样,就在来福士4楼的电影院</td>
		</tr>
		<tr class="title">
			<th width="150px">时间</th>
			<th width="100px">用户:</th>
			<th width="550px">
				<button class="speak-btn" onclick="speak()">我说</button>
			</th>
		</tr>


	</table>
</div>
<script src="../../static/js/jquery.js"></script>
<script>
    function speak() {
        var tr = "<tr></tr>";
        var td = "<td>22:00:56</td>"
    }
</script>
</body>
</html>