<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<meta charset="UTF-8">
	<title>Title</title>
	<style>
		body {
			padding: 30px 50px;
		}

		div {
			margin: 0 auto;
		}

		textarea {
			width: 15.5em;
			height: 4.5em;
			font-size: 1em;
			line-height: 150%;
		}

		body {
			font-size: 2em;
		}

		button {
			font-size: 60%;
		}

		h4, h1 {
			width: 25em;
			word-wrap: break-word;
		}
	</style>
</head>
<body>
<div>
	<h4 th:text="${date2?:''}+'  '+${user2?:''}">:</h4>
</div>
<div>
	<h1 th:text="${msg2}">hello</h1>
</div>
<div>
	<h4 th:text="${date1?:''}+' '+${user1?:''}">:</h4>
</div>
<div>
	<h1 th:text="${msg1}">hello</h1>
	<button onclick="set()">留言</button>
	<a href="/index">
		<button>回首页</button>
	</a> <a href="/login">
	<button>登录</button>
</a>
</div>
<br/>
<div id="fid" style="visibility: hidden">
	<form action="index" method="post">
		<textarea type="text" name="msg"></textarea>
		<input type="submit" value="确定"/>
	</form>

</div>
</body>
<script>
    function set() {
        var visiable = document.getElementById("fid").style.visibility;
        if (visiable) {
            document.getElementById("fid").style.visibility = "";
        } else {
            document.getElementById("fid").style.visibility = "hidden";
        }
    }


</script>
</html>