<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<style>
		body {
			font-size: 2em;

		}

		button, input {
			font-size: 60%;
		}
	</style>
</head>
<body>
	<form action="/login" method="post">
		用户名:<input name="name"><br/>
		密 码:<input type="password" name="pwd">
		<span th:text="${message}"></span><br/>
		<input type="submit"> <span> </span>
		<input type="hidden" name="tryTime" value="1">
	</form>
	<a href="/index"><button>返回首页</button></a>
</body>
</html>